@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --color-primary: 248 68 100;
    --color-primary-background: 51 53 69;
    --color-secondary-background: 34 37 57;
    --_carousel-item-size: 80%;
    --_carousel-gutters: max(4rem, calc((100% - var(--_carousel-item-size)) / 2));
    --_carousel-scrollbar-gutter: var(--size-6);
    --_carousel-pagination-size: var(--size-8);
  }
}